.ppcService{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 0 5rem 0;
}

.ppcServiceHeader{
    width: 100%;
    color: #fff;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.ppcServiceHeader h2{
    font-size: 2rem;
    margin: 0 0 .5rem 0;
    color: #fff;
}


.ppcServiceHero{
    background-color: var(--offWhite);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 3rem 0;
}



.ppcServiceHero .pshLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pshLeft .pshImage img{
    width: 90%;
}

.pshLeft .pshContent{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.pshContent h2{
    margin: 0 0 1rem 0;
}

.pshContent p{
    margin: 0 0 1rem 0;
}

.ppcServiceHero .pshRight{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ppcServiceForm{
    margin: 2rem 0 0 0;
}

.ppcServiceForm input{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 0 0.8rem 0;
    outline: none;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #696969;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.ppcServiceForm input:focus{
    border-bottom: 1px solid var(--yellow);
}

.ppcServiceForm textarea:focus{
    border-bottom: 1px solid var(--yellow);
}

.ppcServiceForm textarea{
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: none;
    border-bottom: 1px solid #696969;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 1rem;
    margin: 0 0 0.8rem 0;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.psSubmit input{
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: .2rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.psSubmit input:hover{
    transform: scale(.9);
    transition: .3s;
}


.ppcServiceProcess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 3rem 0;
}

.ppcServiceProcess h2{
    margin: 0 0 2rem 0;
    text-align: center;
}

.ppcServiceProcess h4{
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

.ppcServiceTabs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.ppcServiceTab{
    width: 30%;
    margin: 1rem;
    padding: 1rem;
}

.ppcServiceIcon{
    color: var(--yellow);
    margin: 0 0 -.2rem 0;
}

.ppcServiceTab h4{
    margin: 0 0 1rem 0;
    color: var(--yellow);
}



@media only screen and (max-width: 600px){
    .ppcServiceHeader h2{
        font-size: 1.5rem;
        text-align: center;
    }

    .ppcServiceHero{
        flex-direction: column;
    }
    

    .ppcServiceHero .pshLeft{
        width: 100%;
    }

    .pshLeft .pshContent{
        margin: 2rem 0 0 0;
        width: 90%;
    }

    .pshLeft .pshImage img{
        width: 85%;
        margin: 0 0 2rem 0;
    }

    .ppcServiceHero .pshRight{
        width: 90%;
    }

    .ppcServiceProcess{
        padding: 2rem 0 0 0;
    }

    .ppcServiceTabs{
        flex-direction: column;
        align-items: center;
    }

    .ppcServiceTab{
        width: 100%;
    }
}