@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
  --yellow:#fb9300;
  --dark:#181617;
  --offWhite:#f3f4f6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #fb9300;
}

::selection{
  background: #fb9300;
  color: white;
}